#ramzor{
    background-color: black;
    width: 100px;
    height: 300px;
    margin: auto;
    padding: 5px;
}

#red_light{
    margin: 0;
    height: 100px;
    width: 100px;
    padding: 0;
    border-radius: 50%;
    box-shadow: inset 0px 0px 80px 0px black;
    background-color: red;
}

#yellow_light{
    margin: 0;
    height: 100px;
    width: 100px;
    padding: 0;
    border-radius: 50%;
    box-shadow: inset 0px 0px 80px 0px black;
    background-color: yellow;
}

#green_light{
    margin: 0;
    height: 100px;
    width: 100px;
    padding: 0;
    border-radius: 50%;
    box-shadow: inset 0px 0px 80px 0px black;
    background-color: rgb(166, 246, 166);
}